nav {
    grid-area: 12 / 2 / 13 / 12;
    background: rgba(45, 60, 89, 0.9);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    margin: 8px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.active {
    padding-bottom: 3px;
    border-bottom: 2px solid whitesmoke;
}
