.mainnav{
    grid-area: 1 / 2 / 2 / 12;
    background-color: #5D688A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6px;
    border-radius: 10px;
    color: #F2EAE0;
}

.active{
    padding-bottom: 3px;
    border-bottom: 2px solid #F2EAE0;
}
